<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:composite="http://java.sun.com/jsf/composite" 
      xmlns:mf="http://java.sun.com/jsf/composite/mdrfaces"
      xmlns:o="http://omnifaces.org/ui" 
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<composite:interface>
</composite:interface>

<composite:implementation>
<!-- binding="#{SearchController.sortableItemPanel}" -->
    <h:panelGroup id="sortableItemPanel" class="sortableItemPanel droptrue col-xs-12" layout="block" >
        <o:tree value="#{SearchController.queryTree}" var="item" varNode="node">
            <o:treeNode>
                <o:treeNodeItem rendered="#{item.mdrId.compareTo('conjunctionGroup') != 0}">
                    <h:panelGroup layout="block" styleClass="formItem row vertical-center">
                        <input type="hidden" id="tempId" value="#{item.tempId}"></input>
                        <input type="hidden" id="mdrId" value="#{item.mdrId}"></input>
                        <input type="hidden" id="componentId" value="#{component.clientId}"></input>

                        <div class="col-xs-11">
                            <div class="row">
                                <h:panelGroup layout="block">
                                    <!-- MDR data element -->
                                    <div class="col-lg-4 col-md-6 mdrItemLabel">
                                        <mf:mdrLabel mdrId="#{item.mdrId}" />
                                    </div>

                                    <!--                                     <div class="col-xs-3 mdrItemOperator"> -->
                                    <!--                                         <h:selectOneMenu styleClass="form-control hasTooltip operatorSelect" value="#{item.operator}"> -->
                                    <!--                                             <f:selectItems value="#{SearchController.operatorList}" var="op" itemLabel="#{msg[op]}" itemValue="#{op}"></f:selectItems> -->
                                    <!--                                         </h:selectOneMenu> -->
                                    <!--                                     </div> -->
                                    <div class="col-lg-3 col-md-6 mdrItemOperator">
                                        <h:selectOneMenu styleClass="form-control hasTooltip operatorSelect" value="#{item.operator}">
                                            <f:selectItems value="#{SearchController.getOperatorList(item.mdrId)}" var="op" itemLabel="#{msg[op]}"
                                                itemValue="#{op}"></f:selectItems>
                                        </h:selectOneMenu>
                                    </div>

                                    <h:panelGroup layout="block" styleClass="values" style="#{fn:endsWith(item.operator.name, 'null') ? 'display: none;' : ''}">
                                        <h:panelGroup layout="block" styleClass="valuesSingle"
                                            style="#{'BETWEEN'.equalsIgnoreCase(item.operator.name) ? 'display: none;' : ''}">
                                            <div class="col-lg-4 col-md-12 mdrItemValue">
                                                <mf:mdrInput mdrId="#{item.mdrId}" value="#{item.value}" />
                                            </div>
                                        </h:panelGroup>

                                        <h:panelGroup layout="block" styleClass="valuesBetween"
                                            style="#{'BETWEEN'.equalsIgnoreCase(item.operator.name) ? '' : 'display: none;'}">
                                            <div class="col-lg-2 col-md-6 mdrItemValue mdrItemValueFrom">
                                                <mf:mdrInput mdrId="#{item.mdrId}" value="#{item.lowerBound}" />
                                            </div>
                                            <div class="col-lg-2 col-md-6 mdrItemValue mdrItemValueTo">
                                                <mf:mdrInput mdrId="#{item.mdrId}" value="#{item.upperBound}" />
                                            </div>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </div>
                        </div>
                        <div class="col-xs-1" style="text-align: right; padding-left: 0;">
                            <h:commandLink value="" action="#{SearchController.clone(node)}" styleClass="btn btn-default" >
                                <i class="fa fa-copy"></i>
                                <f:ajax execute="@form" render="@form" />
                            </h:commandLink>                        
                            <h:commandLink value="" action="#{SearchController.remove(node)}" styleClass="btn btn-default">
                                <i class="fa fa-trash-o text-warning"></i>
                                <f:ajax execute="@form" render="@form" />
                            </h:commandLink>
                        </div>

                    </h:panelGroup>
                    <o:treeInsertChildren />
                </o:treeNodeItem>
                <o:treeNodeItem rendered="#{item.mdrId.compareTo('conjunctionGroup') == 0}">
                    <h:panelGroup layout="block" styleClass="formItem row vertical-center conjunctionGroupItem">
                        <input type="hidden" id="tempId" value="#{item.tempId}"></input>
                        <input type="hidden" id="mdrId" value="#{item.mdrId}"></input>
                        <input type="hidden" id="componentId" value="#{component.clientId}"></input>

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-11">
                                    <div class="row conjunctionGroup">
                                        <div class="col-xs-6 col-md-5 col-lg-3">
                                            <h:selectOneMenu styleClass="form-control" value="#{item.conjunction}">
                                                <f:selectItem itemLabel="AND" itemValue="AND" />
                                                <f:selectItem itemLabel="OR" itemValue="OR" />
                                            </h:selectOneMenu>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1" style="text-align: right; padding-left: 0;">
                                    <h:commandLink value="" action="#{SearchController.remove(node)}" styleClass="btn btn-default btnRemove"
                                        rendered="#{!item.root}">
                                        <i class="fa fa-trash-o text-warning"></i>
                                        <f:ajax execute="@form" render="@form" />
                                    </h:commandLink>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h:panelGroup layout="block" style="min-height: 50px;">
                                        <div class="groupContent">
                                            <o:treeInsertChildren />
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>
                </o:treeNodeItem>
            </o:treeNode>
        </o:tree>

        <h:panelGroup styleClass="dragInfo" id="dragInfo" layout="block" style="#{(SearchController.queryTree.childCount > 0) ? 'display:none' : ''}">
            <div style="font-size: 30px;">
                <i class="fa fa-hand-o-up"></i> <br /> Kriterium hinzufügen
            </div>
            <div>Aus der Liste rechts hinzufügen</div>
        </h:panelGroup>

        <!-- executed on panel refresh -->
        <h:outputScript>makePanelsDroppable();</h:outputScript>
        
    </h:panelGroup>


    <o:commandScript name="addItemToQueryRoot" action="#{SearchController.addItemToQueryRoot}" render="sortableItemPanel"
        oncomplete="$('#dragInfo').hide();" execute="sortableItemPanel"></o:commandScript>
    <o:commandScript name="addItemToQueryGroup" action="#{SearchController.addItemToQueryGroup}" render="sortableItemPanel"
        oncomplete="$('#dragInfo').hide();" execute="sortableItemPanel"></o:commandScript>
    <o:commandScript name="updateQuery" render="sortableItemPanel" execute="sortableItemPanel" />

</composite:implementation>
</html>