<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:composite="http://java.sun.com/jsf/composite" 
      xmlns:cwu="http://share.samply.de/common-webutils">

<composite:interface>
    <composite:attribute name="mdrId" required="true" />
    <composite:attribute name="designation" required="true" />
    <composite:attribute name="definition" required="false" />
    <composite:attribute name="enumElementType" required="true" />
    <composite:attribute name="aStyleClass" required="false" />
    <composite:attribute name="iStyleClass" required="false" />
</composite:interface>

<composite:implementation>
    <h:panelGroup layout="block" class="formItem draggableItem"
                  rendered="#{cc.attrs.enumElementType == 'DATAELEMENT'}">
        <input type="hidden" id="mdrId" value="#{cc.attrs.mdrId}"></input>
        <div class="designation">#{cc.attrs.designation}<span class="badge pull-right">v <h:outputText value="#{cwu:getVersionOfDataelement(cc.attrs.mdrId)}" /></span></div>
        <div class="definition">#{cc.attrs.definition}</div>
    </h:panelGroup>
    <h:commandLink action="#{ItemSearchController.onDataElementGroupClick(cc.attrs.mdrId)}" 
                   styleClass="#{cc.attrs.aStyleClass}"
                   rendered="#{cc.attrs.enumElementType == 'DATAELEMENTGROUP'}">
        <f:ajax execute="@this" render="@none" />
        <i class="#{cc.attrs.iStyleClass}"></i> #{cc.attrs.designation}
    </h:commandLink>
</composite:implementation>
</html>