<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:o="http://omnifaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common" 
      xmlns:c="http://java.sun.com/jsp/jstl/core" 
      xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:composite="http://java.sun.com/jsf/composite">

    <composite:interface>
        <composite:attribute name="title" />
        <composite:attribute name="cancelOutcome" />
        <composite:attribute name="backAction" 
                             method-signature="java.lang.String action()" />
    </composite:interface>
    
    <composite:implementation>
        <h:outputStylesheet name="css/queryBuilder.css" />
        <h:outputScript library="webjar" name="bootstrap/js/bootstrap.min.js" target="head" />
        <h:outputStylesheet name="css/animate.css" />
        <h:outputScript name="js/metisMenu.min.js" target="head" />
        <h:outputScript name="js/jquery.blockUI.js" target="head" />
        
        <div class="col-sm-8 content-left">

            <div id="page-wrapper" class="fadein" style="padding: 20px;">

                <div class="panel panel-default">
                    <div class="panel-body">

                        <h:form role="form" class="newQueryForm" prependId="false" id="newQueryForm">

                            <h:panelGroup styleClass="form-group" id="criteriaDiv" layout="block">
                                <label>#{cc.attrs.title}</label>
                                <ssc:editForm />
                            </h:panelGroup>


                            <!-- Buttons -->
                            <div class="row">
                                <div class="col-sm-12" style="padding-top: 10px;">
                                    <h:link outcome="#{cc.attrs.cancelOutcome}" 
                                            value="#{msg['queryBuilder.cancel']}"
                                            rendered="#{cc.attrs.cancelOutcome ne null}"
                                            class="btn btn-default cancelButton" onclick="deleteValuesFromLocalStorage()" />
                                    &nbsp;
                                    <h:panelGroup rendered="#{not empty cc.attrs.backAction}">
                                        <h:commandButton value="#{msg['queryBuilder.back']}" styleClass="btn btn-primary buttonMargin backButton" pass:data-loading-text="#{msg['pleaseWait']}..."
                                                         action="#{cc.attrs.backAction}" onclick="$(this).button('loading'); $('.saveButton').addClass('disabled'); $('.cancelButton').addClass('disabled');"/>
                                    </h:panelGroup>
                                    <h:commandButton value="#{msg['saveQuery']}" styleClass="btn btn-primary buttonMargin saveButton" pass:data-loading-text="#{msg['pleaseWait']}..."
                                                     action="#{SearchController.onSubmit}" onclick="deleteValuesFromLocalStorage(); $(this).button('loading'); $('.backButton').addClass('disabled'); $('.cancelButton').addClass('disabled');" />
                                </div>
                            </div>

                            <!-- sends the query tree to the server, 
                                 retrieves the serialized query as string 
                                and writes the result to the local storage -->
                            <o:commandScript name="performSerializationOnServerAndStoreResultLocally" 
                                             action="#{SearchController.serializeQuery}" 
                                             execute="@form"
                                             onbegin="updateQuery();"
                                             render=":localValuesForm" 
                                             oncomplete="writeValuesToLocalStorage();"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 itemSearchPanel content-right" style="padding: 20px;">
            <ssc:itemSearch />
        </div>

        <h:outputScript name="js/queryBuilder.js" target="head" />
        
        <h:outputScript name="js/queryRestoration.js" target="head" />

        <ssc:sessionTimeoutModal />
        <ssc:pleaseWaitModal />
        
    </composite:implementation>
</html>