<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:o="http://omnifaces.org/ui" >

<composite:interface>
</composite:interface>

<composite:implementation>
    <h:outputScript name="js/sessionTimeout.js" target="head" />
    <div>
        <h:form prependId="false">
            <div class="modal fade" id="timeoutSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">#{msg.session_runs_out}</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                <i class="fa fa-warning fa-3x pull-left"/>
                                <div style="font-size: 150%;">
                                    <span id="dialog-countdown" style="font-weight: bold"></span>
                                </div>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <p>#{msg.session_runs_out_explain}</p>
<!--                             <h:commandButton value="#{msg.session_freshup}" data-dismiss="modal" styleClass="btn btn-primary" onclick="keepAlive()" /> -->
                            <button type="button" data-dismiss="modal" class="btn btn-primary" onclick="resetTimer();keepAlive();">#{msg.session_freshup}</button>
                        </div>
                    </div>
                </div>

            </div>
            <o:commandScript name="keepAlive" action="#{facesContext.externalContext.getSession(false)}" render="@form"/>
        </h:form>
    </div>
</composite:implementation>

</html>